@'
---
layout: "../../layouts/BaseLayout.astro"
title: "Reviews - SetupMastery"
---
<div class="container">
  <h1>Reviews</h1>
  <p class="card">Product reviews for home office gear. Drop review articles in <code>src/content/articles/</code>.</p>
</div>
'@ | Set-Content -Path src/pages/category/reviews.astro -Encoding utf8
